.calc {
    position: relative;
    left: 2%;
}

.calc:hover {
    /*transform: translate(20vw);*/
    transition-duration: 5s;
}

body {
    height: 100vh;
    width: 100vw;
    background: url('images/howl-background-lg2.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.hidden_cards {
    display: none;
}

.header-container {
    position: relative;
    width: 100vw;
    height: 20vh;
}

.logo {
    width: 15%;
    height: auto;
    float: left;
}

.header-links {

    display: inline-block;
    width: 50vw;
    margin: 0;

}

.header-links li {
    display: inline;
    font-size: 2vw;
    padding: 0;


}

.header-links li a {
    margin: 1% 0;
    color: white;
    text-decoration: none;
}

.stats-container {
    float: left;
    display: inline;
    width: 15%;
    height: 80vh;
    color: white;
}

#game-area {
    border-radius: 10px;
    background-color: rgba(0,0,0,.8);
    position: relative;
    float: left;
    width: 50%;
    height: 60%;
    margin: 0;
    padding: .5%;
    box-sizing: border-box;
    perspective: 900px;
    -webkit-perspective: 900px;
}

#game-area .card  {
    width: 15.1%;
    height: 31%;
    margin: .5%;
    position: relative;
    display: inline-block;
    background-color: black;
}

.card {
    #position: relative;
    #display: inline-block;
    #background-color: black;
}

.second-row {
    position: relative;
}

.third-row {
    position: relative;
}

.front, .card-front {

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.back, .card-back {

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}