.calc {
    position: relative;
    left: 4%;
}



body {
    height: 100vh;
    width: 100vw;
    background: url('images/howl-background-lg.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.header-container {
    position: relative;
    width: 100vw;
    height: 10vw;
}

.logo {
    width: 15vw;
    float: left;
}

.options {

    display: inline-block;
    width: 50vw;
    margin: 0;

}

.options li {
    display: inline;
    font-size: 2vw;
    padding: 0;

}

.options li a {
    margin: 1% 0;
}

.options li a {
    text-decoration: none;
    color: black;
}

.stats-container {
    float: right;
    display: inline;
    width: 15%;
    height: 80vh;
}


#game-area {
    float: left;
    width: 60vw;
    height: 60vh;
    margin: 0;
    perspective: 900px;
    -webkit-perspective: 900px;
}

#game-area .card  {
    width: 9vw;
    height: 11vw;
    margin: .5%;
}

.card {
    position: relative;
    display: inline-block;
}

.second-row {
    position: relative;
    #top: 4vw;
}

.third-row {
    position: relative;
    #top: 7vw;
}

 .front, .card-front {

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;

    #transform: scaleX(-1);

}
 .back, .card-back {

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
     z-index: 99;
}

.card:hover {
    #transform: rotateY(180deg);
    #transition-duration: 2s;
}

.card {
    #transition-duration: .4s;
    #transform-style: preserve-3d;
    #position: relative;
}

 .back, .front {
    #backface-visibility: hidden;
    #position: absolute;
    #top: 0;
    #left: 0;
}

 .front {
    #z-index: 2;
}

.front {
    #transform: rotateY(180deg);
}